@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* react-calendar-heatmap overrides */
.react-calendar-heatmap .color-empty {
  fill: #e4e4e7;
} /* zinc-200 */
.react-calendar-heatmap .color-scale-1 {
  fill: #fecaca;
} /* red-200 */
.react-calendar-heatmap .color-scale-2 {
  fill: #fca5a5;
} /* red-300 */
.react-calendar-heatmap .color-scale-3 {
  fill: #f87171;
} /* red-400 */
.react-calendar-heatmap .color-scale-4 {
  fill: #ef4444;
} /* red-500 */
